---
layout: layouts/base.njk
---
<style>
  body{
    width: 50%;
    font-size: 1.2em;
  }
  h1{
    padding-top: 3em;
  }
  a{
    font-size: 1.7em;
  }
</style>
<h1>Sara Davis</h1>
<img src="river-2-svgrepo-com.svg.jpg" alt="river icon" width="300px">
<br>
<br>
<div class="typewriter">
  <h2>Minimal computing, maximal fun</h2>
    </div>
  <br>
  <div>
    <p><a href="about/">About</a> &nbsp; | &nbsp;
      <a href="sdavis_resume_2025.pdf">CV</a> &nbsp; | &nbsp;
      <a href="blog/">Blog</a>
    </p>
</div>
